*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg,rgb(228, 233, 234),rgb(158, 229, 246));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header{
    background: linear-gradient(90deg,rgb(5, 247, 211),rgb(159, 179, 239));
    position: sticky;
    top: 0;
    height: 40px;
    backdrop-filter: blur(20px);
    z-index: 1000;
}
#nav ,ul{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    color: rgb(119, 245, 245);
    text-decoration: none;
    gap: 15px;
}
ul{
    margin-top: 10px;
}
li{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
#img1{
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 1px 100px rgb(7, 4, 15);
    background-size: cover;
    box-sizing: border-box;
    border: 15px rgb(109, 31, 3);
    justify-content: center;
    justify-self: center;
    justify-items: center;
    margin: 30px;
}

#bio{
    text-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    font-size: 10px;
}
.div{
    background: rgb(241, 219, 232);
    padding: 20px;
    height: 20vh;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 0px 1px 20px rgb(7, 4, 15);
    font-size: 10px;

}
.div:hover{
    background: rgb(16, 152, 211);
}
footer{
    background: linear-gradient(90deg,rgba(16, 211, 55, 0.521),rgb(201, 183, 183));
    text-align: center;
}